# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.suo
*.opensdf
*.pd_

vsproject/Debug/
vsproject/Release/
vsproject/interprocess/Debug/
vsproject/interprocess/Release/
vsproject/tests/client/Release/
vsproject/tests/server/Debug/
vsproject/tests/server/Release/
vsproject/tests/client/Debug/

