# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.tlog
*.lastbuildstate
*.log
*.obj
*.pdb
*.sdf
*.idb
*.opensdf
vsproject/interprocess/Debug/
vsproject/Debug/
vsproject/tests/client/Debug/
vsproject/Release/
vsproject/interprocess/Release/
*.suo
vsproject/tests/server/Debug/
vsproject/tests/server/Release/
vsproject/tests/client/Release/
